body{margin:0px;padding:0px;font-size:15px;}
a{color:#088A08;}
.bmenu{background:#df0174;padding:4px;color:white;text-align:center;}
.bmenu a{color:white}
.tmn{background:#0174df;padding:4px;color:white;}
.tmn a{color:white}
.header{background:#f2f2f2;padding:4px;color:black;border-bottom:1px solid #ccc;}
img{vertical-align:middle;max-width:100%;}